.section-6 {
  display: flex;
  justify-content: space-between;
  .section-6__div-1 {
    width: 670px;
    height: 2034px;
    border: 1px solid red;
  }
  .section-6__div-2 {
    width: 468px;
    height: 800px;
    border: 1px solid red;
    
  }
}
